* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.cart-items-container {
  margin-top: 80px;
  background-color: #f9fbfe;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid rgba(11, 105, 255, 0.1);
  margin-bottom: 100px;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 15%;
  margin-right: 12%;
}
.cart-value {
  font-size: 20px;
  font-weight: 500;
  color: #475569;
  font-family: 'DM Sans';
}
.cart-items {
  margin-top: 10px;
  margin-bottom: 50px;
  list-style-type: none;
}
.hr-line {
  border: 1px dashed #cbd2d9;
  margin-bottom: 20px;
  margin-left: 4%;
  margin-right: 8%;
}
.order-total {
  font-family: 'Roboto';
  font-size: 24px;
  color: #3e4c59;
}
.total-price-section {
  margin-left: 4%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
}
.total-price1 {
  color: #3e4c59;
  font-size: 24px;
  font-weight: 400;
  font-family: 'DM Sans';
}
.shop-now-button {
  cursor: pointer;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: 80%;
  background-color: #f7931e;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 1200px) {
  .cart-items-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .cart-header {
    margin-right: 6%;
  }
  .hr-line {
    margin-right: 4%;
  }
  .total-price-section {
    margin-right: 4%;
  }
  .shop-now-button {
    margin-right: 4%;
    margin-left: 84%;
  }
}
