.empty-cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coffee-image {
}
.no-orders-heading {
  color: #1e293b;
  margin-top: 20px;
  font-size: 32px;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-bottom: 10px;
}
.add-something-text {
  color: #64748b;
  font-size: 16px;
  margin-bottom: 10px;
}
.order-now-button {
  cursor: pointer;
  margin-bottom: 50px;
  background-color: #f7931e;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}
