.not-found-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-not-found-heading {
  color: #1e293b;
  margin-top: 20px;
  font-size: 32px;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-bottom: 10px;
}
.not-found-text {
  color: #64748b;
  font-size: 16x;
  font-family: 'DM Sans';
  font-weight: 400;
  text-align: center;
}
.home-page-redirection-button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #f7931e;
  padding: 8px 15px;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .not-found-image {
    height: 250px;
    width: 200px;
  }
}
