.header-container {
  background-color: #f8fafc;
  display: flex;
  justify-content: space-between;
  padding: 20px 10% 20px 10%;
  width: 100vw;
}
.website-logo-container {
}
.website-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-links-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.website-logo-heading {
  color: #f7931e;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
}
.website-logo {
  margin-right: 15px;
}
.logout-button {
  background-color: #f7931e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
}

@media screen and (max-width: 1200px) {
  .header-container {
    padding: 20px 50px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 992px) {
  .nav-links-container {
    width: 30%;
  }
}
