.slider-container {
  padding: 30px 12%;
  width: 100%;
  padding-left: 12%;
  margin-top: 20px;
}
.offer-image {
  height: 300px;
  width: 100%;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide img {
  margin: auto;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

@media screen and (max-width: 1200px) {
  .slider-container {
    padding: 30px 50px;
    width: 100%;
  }
  .offer-image {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    padding: 15px 30px;
    width: 100%;
  }
  .offer-image {
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .slider-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
